<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Ticket</title>
    <div th:replace="~{fragments/commonHF :: myHeader}"></div>
</head>

<body class="d-flex flex-column min-vh-100">
    <nav th:replace="~{fragments/navbar :: navbar('ticket')}"></nav>
   
    <main class="flex-grow-1">
        <div class="container py-4" >
                <th:block th:if="${successMessage != null}">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <span th:text="${successMessage}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </th:block>
                <div class="mb-3 d-flex justify-content-between">
                    <a class="btn btn-success" th:href="@{/ticket/create}"
                       th:if="${#authorization.expression('hasAuthority(''admin'')')}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                        </svg> Aggiungi ticket</a>
                    <form th:action="@{/ticket}" method="get">
                        <div class="input-group">
                            <input name="keyword" th:value="${keyword}" class="form-control" type="search"
                                placeholder="Titolo per il ticket" aria-label="Inserisci il nome">
                            <button class="btn btn-primary" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                </svg></button>
                        </div>
                    </form>
                </div>

            <div th:if="${tickets.isEmpty()}">
                <h3 >Lista dei ticket</h3>
                <p> Spiacente, non ci sono ancora dei ticket nel nostro DB!</p>
            </div>

            <div th:unless="${tickets.isEmpty()}" class="container">
                <h3 class="my-4 d-flex align-items-center">
                    <i class="bi bi-list-stars"></i>
                    Lista dei ticket
                </h3>
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                        <!-- <th>id</th> -->
                        <th>Titolo</th>
                        <th>Data apertura</th>
                        <th>Data chiusura</th>
                        <th>Categoria</th>
                        <th>Stato ticket</th>
                        <th>Assegnato a</th>
                        <th>Creato da</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ticketElemento : ${tickets}" >
                            <!--<td th:text="${ticketElemento.ticketId}"></td>-->
                            <td th:text="${ticketElemento.titolo}"></td>
                            <td th:text="${ticketElemento.dataApertura}"></td>
                            <td th:text="${ticketElemento.dataChiusura}"></td>
                            <td>
                                <span th:each="cat : ${ticketElemento.categories}"
                                      th:text="${cat.catNome}"
                                >
                                </span>
                            </td>
                            <td th:text="${ticketElemento.statoTicketId.statoDescription}"></td>
                            <td th:text="${ticketElemento.assegnatoAId.email}"></td>
                            <td th:text="${ticketElemento.creatoDaId.email}"></td>
                            <td >
                                <!-- icon libro ( show) deve essere visibile sia all'admin che operatore -->
                                <a class="btn btn-primary" th:href="@{|/ticket/show/${ticketElemento.ticketId}|}">
                                    <i class="bi bi-book"></i>
                                </a>
                            </td>
                            <td>
                                <!-- icon penna ( edit) deve essere visibile sia all'admin che operatore  -->
                                <a class="btn btn-primary" th:href="@{|/ticket/edit/${ticketElemento.ticketId}|}"
                                   th:if="${#authorization.expression('hasAuthority(''admin'') or hasAuthority(''oper'')')}">
                                    <i class="bi bi-pencil-fill"></i>
                                </a>
                            </td>
                            <td>
                               <!--  icon bin (delete) deve essere visibile sia all'admin che operatore -->
                                <form action="#" th:action="@{'/ticket/delete/{id}'(id=${ticketElemento.ticketId})}" method="post"
                                      th:if="${#authorization.expression('hasAuthority(''admin'')')}">
                                    <button class="btn btn-danger" type="submit" id="submitButton" onclick="return confirm('Sei sicuro?')">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </main>
    <div th:insert="~{fragments/commonHF :: myFooter}"></div>
</body>
</html>