<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Ticket</title>
    <div th:replace="~{fragments/commonHF :: myHeader}"></div>
</head>

<body class="d-flex flex-column min-vh-100">
    <nav th:replace="~{fragments/navbar :: navbar('ticket')}"></nav>

    <main class="flex-grow-1">
        <div class="container py-4" th:object="${ticket}">
                    <h1 class="text-center my-4">Il ticket selezionato</h1>

                    <div class="row justify-content-center">
                        <!-- Le info del ticket -->
                        <div class="col-md-6 col-lg-5">
                            <h3>Info sul ticket </h3>
                            <hr>
                            <dl>
                                <dt>Titolo</dt>
                                <dd th:text="*{titolo}"></dd>
                            </dl>
                            <dl>
                                <dt>Categoria</dt>
                                <td>
                                    <span th:if="${#lists.isEmpty(ticket.categories)}">Nessuna categoria</span>
                                    <span th:each="cat : ${ticket.categories}" th:text="${cat.catNome}"></span>
                              </td>
                            </dl>
                            <dl>
                                <dt>Descrizione</dt>
                                <dd th:text="*{descrizione}"></dd>
                            </dl>
                            <dl>
                                <dt>Creato a</dt>
                                <dd th:text="*{dataApertura}"></dd>
                            </dl>
                            <dl>
                                <dt>Chiuso a</dt>
                                <dd th:text="*{dataChiusura}"></dd>
                            </dl>
                            <dl>
                                <dt>Stato</dt>
                                <dd th:text="*{statoTicketId.statoDescription}"></dd>
                            </dl>
                            <dl>
                                <dt>Assegnato a</dt>
                                <dd th:text="*{assegnatoAId.email}"></dd>
                            </dl>
                            <dl>
                                <dt>Creato da</dt>
                                <dd th:text="*{creatoDaId.email}"></dd>
                            </dl>
                        </div>
                        <h3>Note</h3>
                        <div>
                            <div th:if="${#lists.isEmpty(ticket.note)}">
                                <p>Nessuna nota disponibile.</p>
                            </div>
                            <!--Le note esistenti in DB per il ticket selezionato-->
                            <div th:each="nota : ${ticket.note}" class="mb-3 p-3 border rounded">
                                <p><strong>Autore:</strong> <span th:text="${nota.autore.email}"></span></p>
                                <p><strong>Data creazione:</strong> <span th:text="${nota.dataNota}"></span></p>
                                <p><strong>Contenuto:</strong> <span th:text="${nota.descrizione}"></span></p>
                            </div>
                       </div>

                       <h4>Aggiungi una nuova nota</h4>
                        <form th:action="@{/nota/create}" method="post" th:object="${nota}">
                            <input type="hidden" name="ticketId" th:value="${ticket.ticketId}" />
                            
                            <div class="mb-3">
                                <label for="testo" class="form-label">Nota</label>
                                <textarea class="form-control" id="testo" th:field="*{descrizione}" rows="3"></textarea>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Aggiungi Nota</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
   </main>
<div th:insert="~{fragments/commonHF :: myFooter}"></div>
</body>
</html>